.parent {
  display: grid;
  grid-template-columns: repeat(16, 18px);
  grid-template-rows: repeat(32, 9px);
  gap: 5px;
}

@media (min-width: 768px) {
  .parent {
    grid-template-columns: repeat(16, 34px);
    grid-template-rows: repeat(32, 16px);
    gap: 12px;
  }
}


/* Estilos para dispositivos móviles */
@media (min-width: 1280px) {
  .parent {
    grid-template-columns: repeat(16, 53px);
    grid-template-rows: repeat(32, 26px);
    gap: 12px;
  }
}

.div1 { grid-area: 1 / 12 / 18 / 17; }
.div2 { grid-area: 1 / 1 / 15 / 12; }
.div3 { grid-area: 15 / 1 / 23 / 8; }
.div4 { grid-area: 18 / 12 / 24 / 17; }
.div5 { grid-area: 23 / 4 / 27 / 8; }
.div6 { grid-area: 23 / 1 / 33 / 4; }
.div7 { grid-area: 27 / 4 / 33 / 10; }
.div8 { grid-area: 15 / 8 / 27 / 12; }
.div9 { grid-area: 27 / 10 / 33 / 12; }
.div10 { grid-area: 24 / 12 / 33 / 17; }

.parent img {
  transition: transform 0.3s ease;
}

.parent img:hover {
  transform: scale(1.1);
}
